
<style>
     body, * {
            margin: 0px auto;
            color: navy;
        }

    .d1{
            margin: 0px auto;
            width:300px;
            height:300px;
            #border:1px solid red;
    }
</style>



<div class="d1">
<div>
Py ecom
    <img src="/res/b7.png">

</div>



<div>
{{msg}}
</div>


<form action="/" method="post">
    name<input type="text" name="cname"><br>
    pass<input type="password" name="cpwd"><br>
    <input type="submit" value="login">
    <input type="hidden" name="second" value="1">
</form>
</div>
