
<script  type="text/javascript" src="/res/jquery-3.1.0.min.js"></script>

<script>


</script>


<style>
      body, * {
            margin: 0 auto;
            color: navy;
        }


    .h1{
        width:1040px;



    }


    .h2{
        width:1040px;

        }


    .h4{
        float: right;
        }
    .h5{
        float: left;
        }

    .i1{
        width:1040px;


    }


</style>



<div class="h2">
    <div class="h4">
        <a  href="/user_center">用户中心</a>
        <a  href="/cart">购物车</a>
        <a id='logout' href="/logout">退出</a>

    </div>

</div>
<div class="h1">
    <img class="i1" src="/res/product/head.jpg">
    <a  href="/product_list">首页</a>



</div>